* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  margin: 0;
  background: var(--color-white);
  color: var(--color-dark);
}

h1,
h2,
h3 {
  line-height: 1.3;
  text-transform: uppercase;
}

input,
button {
  font-size: 0.8em;
}

a {
  text-decoration: none;
}

label {
  display: grid;
}

hr {
  margin: 10px 0 20px;
  border-top: 2px;
  border-style: none;
  border-top-style: dotted;
  color: var(--color-lightgrey);
}

p {
  margin: 0;
}
