* {
  box-sizing: border-box;
}

body {
  font-family: 'Avenir Next', sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  margin: 0;
  background: var(--color-white);
  color: var(--color-dark);
  position: relative;
}

h1,
h2,
h3 {
  line-height: 1.3;
}

input,
button {
  font-size: 1em;
}

a {
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  height: 48px;
}
