:root {
  --color-violet: #606efe;
  --color-lightviolet: #afb6ff;
  --color-white: #fff;
  --color-lightgrey: #e6e6e6;
  --color-grey: #8b8a8d;
  --color-dark: #1e2125;
  --dropShadow-black: rgba(0, 0, 0, 0.2);
}
