.app-grid {
  display: grid;
  grid-template-rows: 48px auto 48px;
  height: 100vh;
}

.app-grid__header {
  background-color: salmon;
}

.app-grid__main {
  background-color: plum;
  overflow-y: scroll;
}

.app-grid__footer {
  background-color: teal;
}
