.app-grid {
  display: grid;
  grid-template-rows: 48px auto 48px;
  height: 100vh;
}

.app-grid__header {
  display: grid;
  place-items: center;
  background-color: var(--color-dark);
}

.app-grid__main {
  overflow-y: auto;
}

.app-grid__footer {
  background-color: var(--color-dark);
}
