.quiz-card {
  margin: 20px;
  padding: 10px;
  height: auto;
  background-color: sandybrown;
  border-radius: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  transition: all 2s;
  position: relative;
}

.quiz-card__bookmark {
  width: 30px;
  height: auto;
  position: absolute;
  right: 10px;
  top: -10px;
}

.quiz-card__heading {
  font-size: 18px;
}

.quiz-card__question {
  font-size: 12px;
}

.quiz-card__solution {
  font-size: 12px;
}

.quiz-card__answer-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.quiz-card__answer-area__button {
  font-size: 10px;
  width: 70px;
  height: 40px;
  border-radius: 10px;
  background-color: indianred;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
