<main data-js="main-create" class="app-grid__main">
  <form class="create-question-container" action="#">
    <label class="label-heading">
      Enter your Question:
      <input class="add-question" type="text" />
    </label>
    <label class="label-heading">
      Enter your Answer:
      <input class="add-answer" />
    </label>
    <label class="label-heading">
      Give it some Tags:
      <input class="add-tags" />
    </label>
    <button class="submit-button" type="submit">SUBMIT</button>
  </form>
</main>
