.create-question-container {
  display: grid;
  gap: 10px;
}

.create-heading {
  font-size: 16px;
  margin: 0;
  padding: 5px;
  color: var(--color-grey);
}

.label-heading {
  font-size: 14px;
  font-weight: 600;
}

.create-textarea {
  padding: 10px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  outline: none;
  border: 2px solid var(--color-lightgrey);
  border-radius: 8px;
}

.create-textarea:focus {
  outline: none;
  border: 2px solid var(--color-lightviolet);
}

.add-tags {
  height: 100px;
  padding: 10px;
}

.submit-button {
  background-color: var(--color-violet);
  color: var(--color-white);
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 120px;
  font-size: 14px;
}

.characters-limit {
  text-align: end;
  font-weight: 400;
  font-size: 12px;
  color: var(--color-grey);
}
