.footer {
  background-color: var(--color-dark);
  display: grid;
  position: fixed;
  left: 50;
  top: 100;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
}

.navbar__item {
  font-size: 26px;
  color: var(--color-white);
  border: none;
  background-color: transparent;
}

.navbar__item--active {
  color: var(--color-active);
}
